<!-- templates/about/tech.html -->
{% extends "base.html" %}
{% block title %}Домашняя бухгалтерия{% endblock %}
{% block content %}
  <div class="row">
    <h1>О сайте</h1>
    <p>
      Домашняя бухгалтерия – это система построения учета личных (семейных) доходов и расходов. Подразумевает ведение личного (семейного) бюджета. Еще недавно ведение домашней бухгалтерии в тетради или блокноте считалось нормой, сегодня для этого, как правило, используют различные мобильные приложение или веб-сервисы.
      Упрощение учета привело к тому, что сегодня гораздо больше людей осознанно подходят к управлению своими финансами. Ведение домашней бухгалтерии стало неким трендом – практически все крупные банки имеют свои собственные мобильные приложение, позволяющие вести учет доходов и расходов по карте.
      Ведение домашней бухгалтерии позволяет ответить на важный вопрос «куда уходят деньги», взять свои расходы под контроль и начать управлять своим финансовым положением.
    <p>
  </div>
{% endblock %}